---
import type { DeckListItemDTO } from "../types";
import { DeckCard } from "./DeckCard";

interface Props {
  decks: DeckListItemDTO[];
}

const { decks } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {decks.map((deck) => <DeckCard deck={deck} client:load />)}
</div>
